
@import url('https://fonts.googleapis.com/css?family=Avenir+Next');

/* Add a black background color to the top navigation */
.nav {
    background-color: #1a1a1a;
    overflow: hidden;
    font-family: "Futura PT" , "Avenir Next";
    /*weight: 100;*/
    font-size: 16px;
    style: normal;
    line-height: 1.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding-top: 25px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#BarNav {
  text-align: center;
}

/* Style the links inside the navigation bar */
.nav a {
    display: inline-block;
    float: none;
    color: rgba(255,255,255,.5);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.nav a:hover {
    color: #f2f0ee;
    background-color: #1a1a1a !important;
}

/* Add a color to the active/current link */
.nav>li>a:focus, .nav>li>a:hover {
    color: rgba(255,255,255,0.9);
    background-color: #1a1a1a;
}

/*#helpred {
  background-color: #94261C;
}*/

body {
  background-color: #1a1a1a;
}

#map {
  padding-top: 55px;
  max-width: 50%;
}

.formContent {
  text-align: left;
  display: inline-block;
}

#questionaire {
  text-align: center;
  padding-top: 150px;
}

#story {
   max-width: 600px;
   padding-top: 45px;
}

.form-group {
  text-align: left;
}

.form-group, .checkbox, #questionaire {
     color: #f2f0ee;
     font-size: 15px;
     font-family: Futura PT;
     font-weight: 200;
}

#lovebutt {
  text-align: center;
  padding-top: 450px;
  transition: all 460ms ease;
}

.btn:focus,.btn:active {
   outline: none !important;
}

#contextualinfo, #McCoyinfo, .resources {
   font-size: 16px;
   font-family: futura-pt;
   line-height: 1.8em;
   text-transform: none;
   letter-spacing: .075em;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #f4f0ff;
}

#contextualinfo {
  text-align: center;
  padding-top: 75px;
  max-width: 800px;
}

#McCoyinfo {
  text-align: center;
  max-width: 600px;
}

hr {
  width: 50%;
  color: #bbb;
  border-style: none;
  border-width: 0;
  background-color: #f4f0ff;
  height: 1px;
  opacity: .2
}

#logo {
  padding-top: 25px;
}

.resources {
  text-align: center;
  padding-top: 25px;
}

.resourcepageline {
  width: 17%;
  color: #bbb;
  border-style: none;
  border-width: 0;
  background-color: #f4f0ff;
  height: 1px;
  opacity: .2
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}
